body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'cwTeXYen', 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff7f7;
}

/* layout */
h2 {
    font-weight: 500;
    color: #2f2f2f;
    display: flex;
    align-items: center;
}

hr {
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}

.page-title {
    display: flex;
    justify-content: space-between;
}

/* nav bar */
.nav-option,
.logo {
    margin: auto 0;
    padding: 0.6rem 1rem;
}

.navigation {
    display: flex;
    background: #204969;
}

.logo:hover,
.nav-option:hover {
    transform: scale(1.045);
}

.page-margin {
    margin: 0 2rem;
}

/* search news */
.search-area {
    margin: 1.6rem;
    position: relative;
    width: 45%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.search-box,
.search-btn {
    height: 3rem;
    border: 0;
    color: #2f2f2f;
    font-size: 1.1rem;
}

.search-box {
    outline: none;
    background: #e2e1e1;
    width: 80%;
    padding: 0 1.6rem;
    border-radius: 0.5rem;
    position: relative;
}

::placeholder {
    color: rgb(151, 151, 151);
    text-align: center;
}

.search-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 17%;
    font-weight: bold;
    background: #2da7e0;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}

.search-btn:hover {
    background: rgb(95, 190, 235);
}

.empty-news {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.3);
    margin: 28vh auto;
    font-size: 1.1rem;
}

@media screen and (min-width: 736px) {
    .search-area {
        width: 30%;
    }
}

@media screen and (max-width: 735px) {
    .search-area {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .search-area {
        width: 95%;
        margin: 1.7rem 0.8rem 1.5rem 0;
    }
}

@media screen and (min-width: 401px) {
    h2 {
        white-space: nowrap;
    }
}

@media screen and (max-width: 380px) {
    .search-box {
        padding: 0 1rem;
        width: 70%;
    }

    .search-box,
    .search-btn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {

    .search-box,
    .search-btn {
        font-size: 0.9rem;
    }
}

/* each news title */
.each-news {
    margin: 1rem 2rem;
}

.each-news>a {
    font-size: 1.3rem;
}

.created-at {
    margin-top: 0.2rem;
    display: flex;
    color: #b3b1b1;
}

.created-at>img {
    width: 0.8rem;
    margin-right: 0.5rem;
    margin-top: 0.15rem;
}

.post-not-found {
    color: #c5c5c5;
    margin: 0.8rem 2rem;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    min-height: 2rem;
    margin: 0.2rem auto 1rem;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .875em;
    font-family: inherit;
    line-height: 2em;
}

.pagination .switch-page {
    display: inline-block;
    padding: 0px 1px;
    margin: 0px 9px;
    text-decoration: none;
    cursor: pointer;
}

.switch-page:hover {
    font-weight: bold;
    border-bottom: 1px solid #0088cc;
}

.disabled {
    cursor: default;
    pointer-events: none;
    color: #999999;
}

.pagination .is-active {
    display: inline-block;
    padding: 0px 1px;
    margin: 0px 9px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #0088cc;
    color: #0088cc;
    /* un-clickable */
    cursor: default;
    pointer-events: none;
}

.page-ellipsis {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
}