body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'cwTeXYen', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-weight: 500;
}

hr {
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

/* nav bar */
.navigation {
    display: flex;
    background: rgb(51, 48, 53);
}

.nav-option {
    font-size: 1.15rem;
}

.logo:hover,
.nav-option:hover {
    transform: scale(1.05);
}

.page-margin {
    margin: 0 2rem;
}

/* search news */
.search-area {
    margin: 2rem;
}

.search-box {}

.search-btn {}